.button {
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
}

.follow {
  font-weight: 600;
  font-size: 15px;
  padding: 9px 20px;
  border-radius: 35px;
}

.tweet {
  color: #e7e9ea;
  font-size: 17px;
  padding: 16px 85px;
  background-color: #1d9bf0;
  transition: background-color 0.2s;
}

.tweet:hover {
  background-color: #1782ca;
}
