.header {
  border: 1px solid #2f3336;
  height: 115px;
  width: 630px;
  position: fixed;
  background-color: #00000072;
  backdrop-filter: blur(6px);
  z-index: 2;
}

.header-title {
  padding: 12px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.header-buttons {
  display: flex;
}

.header-buttons li {
  padding: 17px;
  flex: 1;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.header-buttons li a {
  color: inherit;
  font-weight: 600;
  font-size: 15px;
  position: relative;
}

.header-link::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 110%;
  top: 30px;
  right: -3px;
  background-color: #1d9bf0;
  border-radius: 10px;
}

.header-buttons li:hover {
  background-color: #4746463e;
  backdrop-filter: blur(6px);
}
