.nav {
  position: fixed;
}
.nav-logo {
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 12px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}

.nav-logo:hover {
  background-color: #031018;
}

.nav-logo img {
  max-width: 100%;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 60px;
  margin-bottom: 20px;
}

.nav-item {
  display: flex;
  align-content: center;
}

.nav-link {
  display: flex;
  padding: 12px 27px 12px 12px;
  border-radius: 35px;
  color: inherit;
  font-size: 20px;
  background-color: transparent;
  gap: 18px;
}

.nav-link:hover {
  background-color: #151515;
}
