.post-card {
  padding: 15px;
  display: flex;
  gap: 15px;
  border: 1px solid #2f3336;
  border-top: none;
  position: relative;
  min-height: 150px;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
}

.post-card:hover {
  background-color: #080808;
}

.post-avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.post-avatar img {
  max-width: 100%;
}

.post-content {
  font-size: 15px;
}

.post-username {
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
}

.post-label {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
}

.post-label img {
  position: absolute;
  max-width: 100%;
  top: 4px;
  left: 2px;
}

.post-email {
  display: inline-block;
  color: #71767b;
  margin-left: 4px;
}

.post-title {
  margin-top: 5px;
  font-size: 15px;
  color: #71767b;
}

.post-body {
  margin-top: 5px;
}

.post-actions {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 14px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #71767b;
  cursor: pointer;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  padding: 8px;
}

.item:hover {
  color: #1d9cf1;
}

.item:hover .icon {
  background-color: #0a171f;
}

.item:hover svg path {
  fill: #1d9cf1;
}

.item:nth-child(2):hover {
  color: #00b579;
}

.item:nth-child(2):hover .icon {
  background-color: #071a14;
}

.item:nth-child(2):hover svg path {
  fill: #00b579;
}
.item:nth-child(3):hover {
  color: #ff198a;
}

.item:nth-child(3):hover .icon {
  background-color: #200914;
}

.item:nth-child(3):hover svg path {
  fill: #ff198a;
}

.delete-icon {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s;
}

.delete-icon:hover {
  background-color: #0a171f;
}

.delete-icon::before,
.delete-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 1px;
  background-color: #71767b;
  transform-origin: center;
}

.delete-icon::before {
  transform: rotate(45deg);
}

.delete-icon::after {
  transform: rotate(-45deg);
}

.post-username:hover {
  text-decoration: underline;
}
