.side-wrapper {
  position: fixed;
}

.side-input {
  background-color: #202327;
  padding: 14px 0px 14px 30px;
  width: 350px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-bottom: 17px;
  color: #fff;
}

.side-input::placeholder {
  font-size: 15px;
}

.side-trend {
  background-color: #16181c;
  width: 348px;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 600;
}

.side-trend span {
  display: inline-block;
  margin: 12px 18px;
}

.side-card {
  font-size: 13px;
  font-weight: 400;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  color: #71767b;
  cursor: pointer;
  gap: 6px;
}

.side-card:hover {
  background-color: #1d1f23;
}

.side-card i {
  font-style: normal;
}

.side-text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.side-more {
  font-size: 15px;
  font-weight: 400;
  color: #1c85cc;
  cursor: pointer;
}

.side-follow {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: #16181c;
  width: 348px;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 600;

  span {
    margin: 12px 18px;
  }
}

.follow-item {
  padding: 12px 18px;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #1d1f23;
  }
}

.item-img {
  width: 50px;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.item-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  i {
    font-style: normal;
  }
}

.item-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-mail {
  font-weight: 400;
  color: #71767b;
}

.side-more {
}
