@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './reset.scss';

@import 'home';
@import 'navbar';
@import 'sidebar';
@import 'button';
@import 'postCard';

#app {
  color: #e7e9ea;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.navbar {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.home {
  position: relative;
  flex: 0 1 630px;
}

.sidebar {
  flex: 1;
  padding: 10px 30px;
  position: relative;
}

.post-list {
  padding-top: 115px;
}
